@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin:0; 
    padding:0;
    text-decoration:none; 
    box-sizing:border-box;
    outline:none;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none; 
    color:inherit;
}
body{
    color:#555;
    line-height:1;
    font-family:'Open Sans';
}
